/* Main */

#mainbox {
    background-color: transparent;
    text-align: center;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    position: relative;

    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    border: 2px solid #1d1d1d;
    box-shadow: 1px 1px 50px 20px #000000;
    font-family: inherit;
    margin-bottom: 5%;
    animation: fadeIn 0.5s ease-in;
    & #hmain {
        font-size: 5rem;
        line-height: 90%;
        background-image: linear-gradient(130deg, #ff5df7 5%, #ff7fdf 35%, #3b4fff 70%, #2eff27 100%);
        -webkit-background-clip: text;
        color: transparent;
        padding-bottom: 5%;
        overflow: visible;
    }
}

/* Work Description */

#storecontainer, #sushicontainer {
    width: 45%;
}

#sushicontainer {
    margin-left: 10%;
}

#workdesbox {
    display: flex;
    background-color: transparent;
    text-align: center;
    margin-bottom: 15%;
    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    border: 2px solid #1d1d1d;
    box-shadow: 1px 1px 50px 20px #000000;
    font-family: inherit;
    animation: fadeIn 0.5s ease-in;
    padding: 5%;
}

#workdesimagestore, #workdesimagesushi {
    max-width: 100%;
    margin-bottom: 5%;
}

#homesense, #bentosushi {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 50px 10px #000000;
}

/* Resume */

#resumebox {
    background-color: transparent;
    text-align: center;
    padding-top: 3%;

    border-radius: 15px;
    background-color: rgb(15, 15, 15);
    border: 2px solid #1d1d1d;
    box-shadow: 1px 1px 50px 20px #000000;
    font-family: inherit;
    animation: fadeIn 0.5s ease-in;
    & #resumeimg {
        max-width: 80%;
        border-radius: 5px;
        opacity: 0.9;
        margin-top: 3%;
        margin-bottom: 5%;
    }
}

.download-btn {
    display: block;
    font-size: 0.75rem;
    text-decoration: none; 
    margin: 0 40% 2%;
}

#presume {
    font-size: 2rem;
}

#moreresume {
    display: grid;
    grid-template-rows: 0fr;
    margin: 1rem;
    transition: grid-template-rows 1s;
}

#moreresume > div {
    overflow: hidden;
}

#moreresume:hover, #resumebox:hover #moreresume {
    grid-template-rows: 1fr;
}


